<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="applicationName" value="employer"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeCallerData>${includeCallerData:-true}</includeCallerData>
            <customFields>
                {
                "application": "${applicationName:- }",
                "environment": "${environmentName:-undefined}",
                "project": "connectivity"
                }
            </customFields>
        </encoder>
    </appender>
    <logger name="${codePackage:-com.example.employer}" level="${codeLevel:-DEBUG}"/>

    <root level="info">
        <appender-ref ref="logstash"/>
    </root>
</configuration>
